@import '../../styles/settings';

.form{
  animation: slide 1s linear both;
  label{
    text-align: left;
    position: relative;
    display: block;
    line-height: var(--line-height-normal);
    margin-bottom: calc(var(--line-height-normal)*2);
  }
}
.label{
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  font-size: 10px;
  p{
    position: absolute;
  }
}

.input{
  composes: control from '../../styles/mixins.css';
}
.textarea{
  composes: control from '../../styles/mixins.css';
}
.select{
  composes: borderColor from '../../styles/mixins.css';
  box-shadow: none;
  background-image: 'url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+")';
  background-position: 100% center;
  background-repeat: no-repeat;
}

.label{
  width: 100%;
}

.last{
  margin-bottom: 10px;
}

.submit{
  display: block;
}
