// .m-0{
//   margin-top: 0;
//   margin-bottom: 0;
// .p-0{
//   padding-top: 0;
//   padding-bottom: 0;
// }

// @for $i from 0 through 4 {
//   .pt-#{$i} {padding-top   : #{$i}rem ; }
//   .pb-#{$i} {padding-bottom: #{$i}rem ; }
//   .mt-#{$i} {margin-top    : #{$i}rem ; }
//   .mb-#{$i} {margin-bottom : #{$i}rem;  }
// }

// .mt-05{ margin-top          : .5rem;  }
// .mb-05{ margin-bottom       : .5rem;  }
// .pt-05{ padding-top         : .5rem;  }
// .pb-05{ padding-bottom      : .5rem;  }
// .mt-025{ margin-top         : .25rem; }
// .mb-025{ margin-bottom      : .25rem; }
// .pt-025{ padding-top        : .25rem; }
// .pb-025{ padding-bottom     : .25rem; }
