:root{ 
  --caret-size : 11px;
  --font-size-normal: 12px;
  --line-height-normal: 15px;

  --font-size-large: 14px;
  --line-height-large:20px;

  --font-size-xlarge: 24px;
  --line-height-xlarge:28px;

  --font-weight-normal: 300;
  --font-weight-bold: 700;

  --namespace: false;

  --global-radius: 3px;
  --input-radius: 3px;

  /*
   Since the typical default browser font-size is 16px, that makes the calculation for grid size.
   If you want your base font-size to be different and not have it affect the grid breakpoints,
   set --rem-base to --base-font-size and make sure --base-font-size is a px value.
  */
  --base-font-size: 100%;

  /* --base-line-height is 24px while --base-font-size is 16px*/
  --base-line-height: 1.5;

  /* Colors */
  --white:                         #FFFFFF;
  --black:                         #222222;
  --black-2:                       #373f4a;
  --turquoise:                     #4BC2B8;
  --red:                           #E75F45;
  --orange:                        #E7A645;
  --orange:                        #FFC11F;

  --blue-darkest:                  #262C36;
  --blue-darkest:                  #344259;
  --blue:                          #2CAAD0;
  --blue:                          #0093e6;

  --blue-gray-darker:              #222B3F;
  --blue-gray-dark:                #3F4654;
  --blue-gray:                     #677DAD;
  --blue-gray-alt:                 #677DAD;
  --blue-gray-light:               #9AA1B1;
  --blue-gray-lighter:             #D7DEE7;
  --blue-gray-lightest:            #E0E2E7;

  --light-gray:                    #7B7B7B;
  --light-blue-gray:               #798291;
  --light-filet:                   #DEE3EA;
  --off-white:                     #F1F4F7;

  --facebook-color: #3C5A98;
  --google-color:   #EB2F12;
  --twitter-color:  #00ABF5;
  --github-color:   #999999;

  --primary        : var(--orange);
  --primary-alt    : var(--turquoise);
  --secondary      : var(--blue-gray-dark);
  --secondary-alt  : var(--blue-gray-alt);
  --base-text      : var(--blue-gray);
  --inverted-text  : var(--white);
  --tertiary       : var(--blue);
  --quaternary     : var(--red);

  --easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);

  --font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;


  --include-xl-html-grid-classes: true;

  --row-width: 100%;
  --primary-color: var(--primary);
  --link-color: #AAAAAA;
  --text-color: #8F9CA3;
  --filet-color: color(var(--text-color) alpha(20%));
  --secondary-color: var(--blue-gray-dark);
  --alert-color: var(--red);
  --success-color: var(--turquoise);
  --warning-color: var(--orange);
  --info-color: var(--primary);



  --facebook     : #3b5998;
  --foursquare   : #f94877;
  --github       : #999999;
  --google       : #dd4b39;
  --instagram    : #3f729b;
  --linkedin     : #0976b4;
  --pinterest    : #cc2127;
  --soundcloud   : #ff6600;
  --product-hunt : #d85536;
  --readability  : #990000;
  --stumbleupon  : #eb4924;
  --tumblr       : #35465c;
  --twitter      : #55acee;
  --vine         : #00b488;
  --vkontakte    : #45668e;

  @custom-media --medium-up   (width >= 30em);
  @custom-media --small-only  (width <= 30em);

}
