@import "reset";
@import "settings";
@import "foundation";

// Or selectively include components
@import "foundation/components/accordion";
// @import "foundation/components/alert-boxes";
@import "foundation/components/block-grid";
// @import "foundation/components/breadcrumbs";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
@import "foundation/components/dropdown";
@import "foundation/components/dropdown-buttons";
// @import "foundation/components/flex-video";
@import "foundation/components/forms";
@import "foundation/components/grid";
@import "foundation/components/inline-lists";
// @import "foundation/components/joyride";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/magellan";
// @import "foundation/components/orbit";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
@import "foundation/components/reveal";
// @import "foundation/components/side-nav";
@import "foundation/components/split-buttons";
@import "foundation/components/sub-nav";
// @import "foundation/components/tables";
// @import "foundation/components/tabs";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
@import "foundation/components/top-bar";
// @import "foundation/components/type";
// @import "foundation/components/offcanvas";
@import "foundation/components/visibility";

@import "buttons";
@import "rhythm";

body{
  -webkit-font-smoothing: antialiased;
}

// #ship {
//   @include reset();
//   .button{
//     @include button();
//   }
// }


.reveal-modal-container.open{
  .reveal-modal{
    display: block;
    opacity: 1;
    visibility: visible;
    width: 100%;
    top: 0;
    @media #{$large-up}{
      // top: 100px;
      width: 90%;
      max-width: 840px;
    }
  }
  .reveal-modal-bg{
    opacity: 1;
    display: block;
    animation: fadeIn .4s ease-out;
  }
  .close-reveal-modal{
    font-size: 1.5rem;
  }
}

img.circle{
  border-radius: $global-rounded;
}


fieldset{
  margin-top:0;
}
